@using SkyVault.Payloads.CommonPayloads
@model CustomerProfileModel
@{
    var genderList = TempData["ProfDef.Gender"] as List<Gender> ?? new List<Gender>();
    var nationalityList = TempData["ProfDef.Nationality"] as List<Nationality> ?? new List<Nationality>();
    var salutationList = TempData["ProfDef.Salutations"] as List<Salutation> ?? new List<Salutation>();
    var countryList = TempData["ProfDef.Country"] as List<Country> ?? new List<Country>();
}

<form id="addPassportModalForm" name="addPassportModalForm">
    <input type="hidden" id="hdnCustomerId" name="hdnCustomerId" value="@TempData["CustomerProfile.ID"]"/>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="addPassportModalLabel">Add Passport Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row my-3">
                <div class="col-md-6">
                    <select id="addSalutation" name="addSalutation" class="form-select customselect" aria-label="Salutation select">
                        <option value="0" selected>Select Salutation</option>
                        @if(salutationList.Count > 0)
                        {
                            @foreach(var salutation in salutationList)
                            {
                                <option value="@salutation.Id">@salutation.Name</option>
                            }
                        }else{
                            <option value="-1" selected>Something went wrong</option>
                        }
                    </select>
                </div>
                <div class="col-md-6">
                    <input id="addLastName" name="addLastName" type="text" class="form-control customtext" placeholder="Last Name" value=""/>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-6">
                    <input id="addOtherNames" name="addOtherNames" type="text" class="form-control customtext" placeholder="Other Names" value=""/>
                </div>
                <div class="col-md-6">
                    <select id="addNationality" name="addNationality" class="form-select customselect" aria-label="Nationality select">
                        <option value="0" selected>Select Nationality</option>
                        @if(nationalityList.Count > 0){
                            @foreach(var nationality in nationalityList){
                                <option value="@nationality.Id">@nationality.Name</option>
                            }
                        }else{
                            <option value="-1" selected>Something went wrong</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-6">
                    <select id="addGender" name="addGender" class="form-select customselect" aria-label="Gender select">
                        <option value="0" selected>Select Gender</option>
                        @if(genderList.Count > 0)
                        {
                            @foreach(var gender in genderList)
                            {
                                <option value="@gender.Id">@gender.Name</option>
                            }
                        }else{
                            <option value="-1" selected>Something went wrong</option>
                        }
                    </select>
                </div>
                <div class="col-md-6">
                    <input id="addPlaceOfBirth" name="addPlaceOfBirth" type="text" class="form-control customtext" placeholder="Place of Birth" value=""/>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-md-6">
                    <input id="addPassportNo" name="addPassportNo" type="text" class="form-control customtext " placeholder="Passport Number" value=""/>
                </div>
                <div class="col-md-6">
                    <input id="addDateOfBirth" name="addDateOfBirth" type="date" class="form-control customdate" value="Date of Birthday"/>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-6">
                    <input id="addPassportExpiry" name="addPassportExpiry" type="date" class="form-control customdate" value="Passport Expiry Date"/>
                </div>
                <div class="col-md-6">
                    <select id="addCountry" name="addCountry" class="form-select customselect" aria-label="Gender select">
                        <option value="0" selected>Select Country</option>
                        @if(countryList.Count > 0){
                            @foreach(var country in countryList){
                                <option value="@country.Id">@country.CountryCode - @country.Name</option>
                            }
                        }else{
                            <option value="-1" selected>Something went wrong</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="commonbtn" data-bs-dismiss="modal">
                <img class="saveicon" src="~/img/icons/cancel_icon.png"/>
                Close &nbsp;
            </button>
            <button class="commonbtn" data-bs-dismiss="modal"
                    hx-post="@Url.Page("CustomerProfile", "AddPassport")"
                    hx-trigger="click"
                    hx-headers='{"XSRF-TOKEN": "@Model.AntiForgeryToken"}'
                    hx-swap="none">
                <img class="saveicon" src="~/img/icons/save_icon.png"/> Save &nbsp;
            </button>
        </div>
    </div>
</form>