@using SkyVault.WebApp.Models
@{
}
<nav>
    <ul>
        @if (ViewData["UserMenus"] != null)
        {
            @foreach (var parent in (ViewData["UserMenus"] as IEnumerable<SkyVaultMenuItem>)!)
            {
                if (parent.Children == null)
                {
                    <li>
                        <a href="@parent.MenuUri" class="active">
                            <img class="navitemicon" src="@parent.MenuIconUri" alt="@parent.MenuName"/>
                            @parent.MenuName
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@parent.MenuUri" class="active">
                            <img class="navitemicon" src="@parent.MenuIconUri" alt="@parent.MenuName"/>
                            @parent.MenuName
                        </a>
                    </li>
                    <li>
                        <ul>
                            @foreach (var child in parent.Children)
                            {
                                <li>
                                    <a href="@child.MenuUri" class="active">
                                        <img class="navitemicon" src="@child.MenuIconUri" alt="@child.MenuName"/>
                                        @child.MenuName
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            }
        }
    </ul>
</nav>