@model CustomerProfileModel

<form id="editPassportModalForm" name="editPassportModalForm">
    <input type="hidden" id="hdnCustomerId" name="hdnCustomerId" value="@TempData["CustomerProfile.ID"]"/>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="passportModalLabel">Edit Passport Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="passport-content" class="modal-body">
            <div class="row my-3">
                <div class="col-md-6">
                    <select id="editPassportSalutation" class="form-select customselect" aria-label="Salutation select">
                        <option selected>Select Salutation</option>
                        <option value="1">Mr.</option>
                        <option value="2">Mrs.</option>
                        <option value="3">Ms.</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control customtext" placeholder="Last Name"
                           value="@Model.Passport?.LastName"/>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-6">
                    <input type="text" class="form-control customtext" placeholder="Other Names"
                           value="@Model.Passport?.OtherNames"/>
                </div>
                <div class="col-md-6">
                    <select class="form-select customselect" aria-label="Nationality select">
                        <option selected>Select Nationality</option>
                        <option value="1">Sri Lankan</option>
                        <option value="2">Finnish</option>
                        <option value="3">Polish</option>
                    </select>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-6">
                    <select class="form-select customselect" aria-label="Gender select">
                        <option selected>Select Gender</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control customtext" placeholder="Place of Birth"
                           value="@Model.Passport?.PlaceOfBirth"/>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-md-6">
                    <input type="text" class="form-control customtext " placeholder="Passport Number"
                           value="@Model.Passport?.PassportNo"/>
                </div>
                <div class="col-md-6">
                    <input type="date" class="form-control customdate" placeholder="Date of Birth"
                           value="@Model.Passport?.DateOfBirth"/>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-6">
                    <input type="date" class="form-control customdate" placeholder="Passport Expiry Date"
                           value="@Model.Passport?.ExpiryDate" />
                </div>
                <div class="col-md-6">
                    <select class="form-select customselect" aria-label="Gender select">
                        <option selected>Select Country</option>
                        <option value="1">Sri Lanka</option>
                        <option value="2">Finland</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="commonbtn" data-bs-dismiss="modal">
                <img class="saveicon" src="~/img/icons/cancel_icon.png"/>
                Close &nbsp;
            </button>
            <button class="commonbtn">
                <img class="saveicon" src="~/img/icons/save_icon.png"/> Save &nbsp;
            </button>
        </div>
    </div>
</form>
